<div class="container">
  <!-- start: PAGE HEADER -->
  <div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">View Notification</li>
        </ol>
    </div>
</div>
    <div *ngIf="response"> <h6 class="alert alert-success">{{response}}</h6> </div>
    <div *ngIf="reserr"><h6 class="alert alert-danger">{{reserr}}</h6></div>
    
    <caption>View Notifications</caption>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Sr no.</th>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let notification of notificationlist; let i=index">
                <td>{{i+1}}</td>
                <td>{{notification.notification_name}}</td>
                <td>{{notification.notification_description}}</td>
                <td>{{notification.notification_start_date }}</td>
                <td>{{notification.notification_end_date }}</td>
                <ng-container *ngIf="notification.status==1; else elseTemplate">
                    <td><strong>Active</strong></td>
                </ng-container>
                <ng-template #elseTemplate>
                    <td style="color: red;"><strong> DeActivated </strong></td>
                </ng-template>
                <td> <button (click)="getNotificationById(notification.notification_id)" class="btn btn-primary"> <i class="fa fa-edit"></i> Edit </button> </td>
            </tr>
        </tbody>
    </table>
</div>
