<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Sr No.</th>
            <th>Regulation type</th>
            <th>Action</th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let rlist of regtypelist; let i=index">
            <td>{{i+1}}</td>
            <td>{{rlist.regulation_type }}</td>
            <td> <button (click)="getRegulationTypeById(rlist.regulation_type_id)" class="btn btn-primary">Edit</button></td>
        </tr>
    </tbody>
    
    </table>