 <div class="container">
      <!-- start: PAGE HEADER -->
   <div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/home" href=""><i class="fa fa-home"></i>&nbsp;Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">View Regulation History</li>
        </ol>
    </div>
    </div>
 <div class="row mb-3" >
   <div> 
        <h4 >View Regulation History
            <button class="btn btn-primary" (click)="exportRegulationHistoryToExcel(reghist[0].hist_regulation_id)" style="clear:left; float:right;"><i class="fa fa-eye"></i>Export History </button>
        </h4>
   </div>
      <table class="table table-hover table-striped" width="100%" id="expiretable">
        <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Vendor</th>
                <th>Regulation </th>
                <th>Description</th>
                <th>Duration</th>
                <th>Issued Date </th>
                <th>Next Renewal Date </th>
                <th>Status</th>
                <th>Uploaded File</th>
            </tr>
        </thead>
        <tbody>
             <tr *ngFor="let regulation of reghist; let i=index">
                <td>{{i+1}}</td>
                <td>{{regulation.hist_regulation_name}}</td>
                <td>{{regulation.hist_regulation_name}}</td>
                <td>{{regulation.hist_regulation_description}}</td>
                <td *ngIf="regulation.hist_regulation_frequency==1"> Monthly </td>
                <td *ngIf="regulation.hist_regulation_frequency==2"> Quarterly</td>
                <td *ngIf="regulation.hist_regulation_frequency==3"> Yearly </td>
                <td>{{regulation.hist_regulation_issued_date}}</td>
                <td>{{regulation.hist_next_renewal_date}}</td>
                <td  [ngClass]="{
                    'date-greater': isDateGreaterThanToday(regulation.hist_next_renewal_date) , 
                    'date-smaller': !isDateGreaterThanToday(regulation.hist_next_renewal_date) }"> 
                    {{regulation.hist_next_renewal_date}} <sub> {{isExpired}} </sub>
                </td>
                <td>{{regulation.hist_file_name}}</td>
             </tr>
          </tbody>
      </table>
    </div>
</div>