<div class="container"> 
    <caption>View Activities</caption>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Sr no.</th>
                <th>Activity</th>
                <th>Activity Date</th>
                <th>Activity Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let act of actlist; let i=index">
                <td>{{i+1}}</td>
                <td>{{act.activity}}</td>
                <td>{{act.activity_date}}</td>
                <td>{{act.activity_time}}</td>
            </tr>
        </tbody>
    </table>
</div>
