 
<!-- <div class="container">
    <form (ngSubmit)="changePassword()"  method="post">
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" [(ngModel)]="user.password" placeholder="Enter the Password" >
        </div>
        <div>
            <label for="cnf_password">Confirm Password</label>
            <input type="password" name="cnf_password" id="cnf_password"  [(ngModel)]="user.cnf_password" placeholder="Confirm the Password" >
        </div>
    </form>
</div> -->