
<div class="container">
     <!-- start: PAGE HEADER -->
     <div class="row">
        <div class="col-sm-12">
            <!-- start: PAGE TITLE & BREADCRUMB -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <ng-container *ngIf="getLoggedInUser()=='2'; else elseTemplate">
                        <a routerLink="/vendorhome"><i class="fa fa-home"></i>&nbsp;Home</a>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <a routerLink="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
                    </ng-template>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Change Password</li>
            </ol>
        </div>
    </div>
    <h4>Change Password</h4> 
    <form (ngSubmit)="changePassword()" method="POST"  >	
    
        <div class="form-group">
            <label for="password"><strong> Password</strong></label>
            <input type="hidden" name="userid" [(ngModel)]="user.userid">
            <input type="password" name="password" id="password" [(ngModel)]="user.password" class="form-control" placeholder="Enter Password">  
        </div>

        <div class="form-group">
            <label for="cnf_password"><strong> Confirm Password</strong></label>
            <input type="password" name="cnf_password" id="cnf_password" [(ngModel)]="user.cnf_password" class="form-control" placeholder="Please Confirm Password">  
        </div>
        <button type="submit" class="btn btn-primary">Submit</button> 
    </form>

</div>