
<div class="container">
     <!-- start: PAGE HEADER -->
     <div class="row">
        <div class="col-sm-12">
            <!-- start: PAGE TITLE & BREADCRUMB -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Add Regulation Type</li>
            </ol>
        </div>
    </div>
    <h3>Add Regulation Type</h3>
    <form (ngSubmit)="saveRegulationType()" method="POST"  >	
    
        <div class="form-group">
            <label for="regulation_type"><strong> Regulation Type</strong></label>
            <input type="text" name="regulation_type" id="regulation_type" [(ngModel)]="regtype.regulation_type" class="form-control" placeholder="Enter Regulation Type">  
        </div>
        <button type="submit" class="btn btn-primary">Submit</button> 
    </form>

</div>