<div class="container">
    <div class="form-group bg-warning">
        <a routerLink="/addvendor" class="btn btn-primary">Add Vendor</a>
    </div>
    <div class="form-group bg-grey"> 
        <a routerLink="/viewregulations" class="btn btn-primary">Add Regulations</a>
    </div>
    <div class="form-group bg-primary" > 
        <a routerLink="/viewregulationtypes" class="btn btn-primary">View Regulation Types</a>
    </div>
    <div class="form-group bg-success"> 
        <a routerLink="/viewnotification" class="btn btn-primary">View Notifications</a>
    </div>


    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Sr no.</th>
                <th>Vendor</th>
                <th>Regulation</th>
                <th>Expired On</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>