<div class="container">
    <form action="" method="post">
    <div class="form-group">
        <input type="text" name="notification_name" id="notification_name" class="form-control">
    </div>
    <div class="form-group">
        <label for="notification_description"></label>
        <input type="text" name="notification_description" id="notification_description" class="form-control">
    </div>
    <div class="form-group">
        <label for="notification_start_date"></label>
        <input type="text" name="notification_start_date" id="notification_start_date" class="form-control">
    </div>
    <div class="form-group">
        <label for="notification_end_date"></label>
        <input type="text" name="notification_end_date" id="notification_end_date" class="form-control">
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
</div>

