<div class="container">
    <div class="form-group">
        <label for="regulation_name"> Regulation Name</label>
        <input type="text" name="regulation_name" id="regulation_name" [(ngModel)]="regulation.regulation_name" class="form-control" placeholder="Enter regulation name">
    </div>
    <div class="form-group">
        <label for="regulation_description">Regulation Description</label>
        <input type="text" name="regulation_description" id="regulation_description" [(ngModel)]="regulation.regulation_description" class="form-control" placeholder="Enter regulation description">
    </div>
    <div class="form-group">
        <label for="regulation_frequency">Regulation Frequency</label>
        <input type="text" name="regulation_frequency" id="regulation_frequency" [(ngModel)]="regulation.regulation_frequency" class="form-control" placeholder="Enter regulation Frequency">
    </div>
    <div class="form-group">
        <label for="regulation_issued_date">Regulation Issued Date</label>
        <input type="text" name="regulation_issued_date" id="regulation_issued_date" [(ngModel)]="regulation.regulation_issued_date" class="form-control" placeholder="Enter regulation Issued date">
    </div>
</div>