
<div class="container">
    <h3>Edit Regulation Type</h3>
    <form (ngSubmit)="updateRegulationType()" method="POST"  >	
    
        <div class="form-group">
            <label for="regulation_type"><strong> Regulation Type</strong></label>
            <input type="text" name="regulation_type" id="regulation_type" [(ngModel)]="regtype.regulation_type" class="form-control" placeholder="Enter Regulation Type">  
        </div>
        <button type="submit" class="btn btn-primary">Submit</button> 
    </form>

</div>