<div class="container">
   <form  [formGroup]="form"  method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="regulation_name">Regulation Name</label>
        <input type="text" name="regulation_name" id="regulation_name" formControlName="regulation_name" required class="form-control" placeholder="Enter regulation name">
    </div>
    <div class="form-group">
        <label for="regulation_description">Regulation Description</label>
        <input type="text" name="regulation_description" id="regulation_description"  formControlName="regulation_description" class="form-control" placeholder="Enter regulation description">
    </div>
    <div class="form-group">
        <label for="regulation_frequency">Please select Frequency </label>
        <select id="regulation_frequency" name="regulation_frequency " class="form-control" formControlName="regulation_frequency" >
            <option selected disabled>Please select Frequency </option>
            <option value="1">Monthly</option>
            <option value="2">Quarterly</option>
            <option value="3">Yearly</option>
        </select>
    </div>

    <!-- <div class="form-group">
        <label for="apdate">regulation_issued_date</label>
        <input
            placeholder="Select Date"
            class="form-control"
            bsDatepicker
            [(bsValue)]="selectedDate"
            value="selectedDate | date:'DD-MM-yyyy'"
            formControlName="regulation_issued_date" 
            [bsConfig]="datepickerConfig"
            id="apdate" name="apdate"
            autocomplete="off"
            (blur)="getnextdate($event)"
        />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
     </div> -->
 

    <div class="form-group">
        <label for="regulation_issued_date"></label>
            <input type="text" name="regulation_issued_date" id="regulation_issued_date" formControlName="regulation_issued_date"  class="form-control" placeholder="regulation Issued date">
    </div>
    <div class="form-group">
        <label for="vendor">Please select Vendor </label>
        <select id="vendor" name="vendor " class="form-control" formControlName="vendor" >
            <option selected disabled>Please select Frequency </option>
            <!-- <option *ngFor="let item of items" [ngValue]=""></option> -->
        </select>
    </div>
    <div class="form-group">
        <label for="file">Select File</label>
        <input type="file" name="file" id="file" (change)="onFileSelect($event)" accept=".pdf" required class="form-control" placeholder="Enter regulation name">
    </div>
    <button (click)="saveRegulation()" class="btn btn-primary">Submit</button>
</form>
</div>